<vg-player class="video-viewer-container" (onPlayerReady)="onPlayerReady($event)">

    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5" *ngIf="interactive">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen></vg-fullscreen>
        <button (click)="toggleVerbose()" class="custom-button">?</button>
    </vg-controls>
    <video #myMedia [vgMedia]="myMedia" [vgMaster]="true" id="my-video" preload="auto" class="video-viewer">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type" crossorigin vg-crossorigin>
    </video>
</vg-player>

<div class='annotations' [hidden]="!verbose">
    title: {{video?.title}}
    <br/> description: {{video?.description}}
    <br/> thumbnailUrl: {{video?.thumbnailUrl}}
    <br/> contentUrl: {{video?.contentUrl}}
    <br/> mimeType: {{video?.mimeType}}
    <br/> width: {{video?.width}}
    <br/> height: {{video?.height}}
    <br/> fileSizeBytes: {{video?.fileSizeBytes}}
    <br/> updatedAt: {{video?.updatedAt}}
    <br/>
</div>